################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebAPI.Tools
/WebAPI/bin/Debug/net8.0
/WebAPI/obj
/WebAPI.Before/obj
